@using System.Web.Mvc
@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using EPiServer.Forms.Core
@using EPiServer.Forms.Core.Models
@using EPiServer.Forms.Helpers
@using EPiServer.Forms.Implementation.Elements

@model UrlElementBlock

@{  
    var formElement = Model.FormElement;
    var labelText = Model.Label;
}

<div class="Form__Element FormTextbox FormTextbox--Url @Model.GetValidationCssClasses() form-group row" data-epiforms-element-name="@formElement.ElementName">
    <label for="@formElement.Guid" class="Form__Element__Caption control-label col-sm-3">@labelText</label>
    <div class="col-sm-9">
        <input name="@formElement.ElementName" id="@formElement.Guid" type="url" class="FormTextbox__Input FormUrl__Input form-control"
               placeholder="@Model.PlaceHolder" value="@Model.GetDefaultValue()" @Html.Raw(Model.AttributesString) />

        <span data-epiforms-linked-name="@formElement.ElementName" class="Form__Element__ValidationError" style="display: none;">*</span>
    </div>
</div>
